.card {
    width: 360px;
    position: relative;
    cursor: pointer;
}
.card_saved{
    width: 360px;
    position: relative;
    cursor: pointer; 
}
/*
.card:nth-child(n + 13) {
    display: none;
}
*/
@media screen and (max-width: 900px) {
    .card {
        width: 339px;
    }
    .card_saved {
        width: 339px;
    }
}

@media screen and (max-width: 750px) {
    .card {
        width: 300px;
    }
    .card_saved {
        width: 300px;
    }
}

.card__image {
    width: 360px;
    height: 201px;
}

@media screen and (max-width: 900px) {
    .card__image {
        width: 339px;
    }
}

@media screen and (max-width: 750px) {
    .card__image {
        width: 300px;
        height: 168px;
    }
}

.card__conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
<<<<<<< Updated upstream
    margin-top: 14px;
=======
    margin-top: 11px;
}
/*
@media screen and (max-width: 1200px) {
    .card:nth-child(n + 7) {
        display: none;
    }
}
*/

@media screen and (max-width:768px) {
    .card__conteiner {
        margin-top: 21px;
    }
>>>>>>> Stashed changes
}

.card__title {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .card__title {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.card__time {
    width: 60px;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    color: #A0A0A0;
    padding-right: 20px;
    margin: 0;
}

.card__save-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    position: absolute;
    top: 14px;
    right: 14px;
    border-radius: 30px;
    background-color: #F9F9F9;
    width: 72px;
    height: 21px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    visibility: hidden;
    cursor: pointer;
}

.card__save-button_saved {
    background-image: url('../../images/saved.svg');
    background-color: transparent;
    width: 21px;
    height: 21px;
}

.card__save-button_delete {
    background-image: url('../../images/delete.svg');
    background-color: transparent;
    width: 21px;
    height: 21px;
}

.card__save-button:hover {
    opacity: 0.8;
}

.card:hover .card__save-button {
    visibility: visible;
<<<<<<< Updated upstream
=======
}

@media screen and (max-width: 768px) {
    .card__title {
        padding-left: 0;
    }
}

@media screen and (max-width: 650px) {
    .card:nth-child(n + 6) {
        display: none;
    }

}

@media screen and (max-width:320px) {
    .card__time {
        padding-right: 7px;
    }

    .card__conteiner {
        margin-top: 12px;
    }

}

.card.is-visible {
    display: block;
>>>>>>> Stashed changes
}