.aboutme{
    padding-top: 110px;
    position: relative;
    background-color: #FFF;
    padding-bottom: 125px;
}
@media screen and (max-width: 768px){
    .aboutme{
        padding-top: 90px;
        padding-bottom: 70px;
    }
}
@media screen and (max-width: 500px){
    .aboutme{
        padding-top: 70px;
        padding-bottom: 50px;
    }
}
.aboutme__img{
    position: absolute;
    top: 227px;
    right: 70px;
    width: 270px;
    height: 327px;
    border-radius: 10px;
}
@media screen and (max-width: 768px){
    .aboutme__img{
        right: 50px;
        top: 207px;
        width: 255px;
        height: 307px;

    }
}
@media screen and (max-width: 580px){
    .aboutme__img{
        display: block;
        width: 292px;
        height: 352px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        position: unset;


    }
}
.aboutme__container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 66px;
}
@media screen and (max-width: 1025px){
    .aboutme__container{
        max-width: 450px;
    }
}
@media screen and (max-width: 890px){
    .aboutme__container{
        max-width: 364px;
    }
}
@media screen and (max-width: 768px){
    .aboutme__container{
        margin-left: 50px;
        max-width: 300px;
    }
}
@media screen and (max-width: 675px){
    .aboutme__container{
        max-width: 220px;
    }
}
@media screen and (max-width: 580px){
    .aboutme__container{
        max-width: 292px;
    }
}
@media screen and (max-width: 500px){
    .aboutme__container{
        margin-top: 40px;
        margin-left: 14px;
    }
}
.aboutme__header{
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    margin: 0;
    margin-bottom: 18px;
}
@media screen and (max-width: 768px){
    .aboutme__header{
        font-size: 40px;
    }
}
@media screen and (max-width: 675px){
    .aboutme__header{
        font-size: 30px;
        margin-bottom: 20px;
    }
}
.aboutme__subtitle{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    margin-bottom: 26px;
}
@media screen and (max-width: 768px){
    .aboutme__subtitle{
        font-size: 12px;
    }
}
@media screen and (max-width: 500px){
    .aboutme__subtitle{
        margin-bottom: 20px;
        font-size: 11px;
    }
}
.aboutme__paragraph{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}
@media screen and (max-width: 768px){
    .aboutme__paragraph{
        font-size: 12px;
    }
}
.aboutme__github{
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 99px;
    margin-left: 70px;
    margin-bottom: 101px;
    text-decoration: none;
    color: #000;
}
.aboutme__github:hover{
    opacity: 0.7;
}
@media screen and (max-width: 768px){
    .aboutme__github{
        margin-left: 50px;
        margin-top: 87px;
        margin-bottom: 91px;

    }
}
@media screen and (max-width: 500px){
    .aboutme__github{
        margin-left: 14px;
        margin-top: 40px;
        margin-bottom: 70px;

    }
}
.aboutme__portfolio{
    color: #A0A0A0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-left: 70px;
    margin-bottom: 50px;
}
@media screen and (max-width: 768px){
    .aboutme__portfolio{
        margin-left: 50px;

    }
}
@media screen and (max-width: 500px){
    .aboutme__portfolio{
        margin-left: 14px;
        margin-bottom: 40px;
    }
}
.aboutme__links{
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 30px;
}
@media screen and (max-width: 768px){
    .aboutme__links{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 28px;
    }
}

.aboutme__page{
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
}
.aboutme__pointer{
    text-decoration: 0;
    margin: 0;
    color: #000;
    width: 29px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
}
.aboutme__pointer:hover{
    opacity: 0.7;
}
@media screen and (max-width: 500px){
    .aboutme__links{
        margin-left: 14px;
        margin-right: 14px;
        font-size: 18px;
    }
    .aboutme__page{
        line-height: 28px;
        letter-spacing: -0.72px;

    }
}